.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Scrollbar özelleştirme */
::-webkit-scrollbar {
  height: 8px; /* Yatay kaydırma çubuğu yüksekliği */
}
::-webkit-scrollbar-thumb {
  background: #a3a3a3; /* Kaydırma çubuğu rengi */
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #6b7280; /* Hover rengi */
}
.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Maksimum 2 satır */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.prose {
  font-size: 1rem;
  line-height: 1.75;
}

.prose h2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 1rem;
}

.prose ul {
  list-style: disc;
  margin-left: 1.5rem;
}

.prose p {
  margin-bottom: 1rem;
  color: #4a4a4a;
}

@tailwind base;
@tailwind components;
@tailwind utilities;


/* Container Ayarları */
.profile-container {
  width: 200px; /* Profil resminin genişliği */
  height: 200px; /* Profil resminin yüksekliği */
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Profil Resmi */
.profile-image {
  width: 100%; /* Tam genişlik */
  height: 100%; /* Tam yükseklik */
  border-radius: 50%; /* Yuvarlak yapar */
  object-fit: cover;
  z-index: 4; /* Profil resmini öne getirir */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Gölgelendirme */
}

/* Logo */
.logo-image {
  width: 160px; /* Logonun genişliği */
  height: 160px; /* Logonun yüksekliği */
  bottom: -20px; /* Profil resminin altına kaydırır */
  left: 50%; /* Yatay olarak merkeze alır */
  transform: translateX(-50%); /* Gerçek ortalama için */
  z-index: 1; /* Profil resminin üstünde yer alır */
  position: absolute;
}
